@font-face {
  font-family: "Gotham Pro";
  src: url("../../fonts/GothamPro-Bold/GothamPro-Bold.woff2") format("woff2"),
    url("../../fonts/GothamPro-Bold/GothamPro-Bold.woff") format("woff"),
    url("../../fonts/GothamPro-Bold/GothamPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../../fonts/GothamPro/GothamPro-Medium.woff") format("woff"),
  url("../../fonts/GothamPro/GothamPro-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html, body {
    height: 100%;
    line-height: 1;
    font-size: 18px;
    
  }
h1, h2, h3{
  font-family: Gotham Pro;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 58px;
/* or 58px */

color: #3F3F3F;
}
h2 {
  font-size: 38px;
line-height: 36px;
text-align: center;
margin-bottom: 60px;

}
h3 {
  font-size: 24px;
line-height: 34px;
text-align: center;
margin-bottom: 30px;

}

  .wrapper {
    min-height: 100%;
    overflow: hidden;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
  }
  
  ._conteiner {
    max-width: 1296px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
  }
  
  ._maxWidth {
    
    max-width: 1434px;
  }
  ._conteiner-thin {
    max-width: 960px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
  }
// ---------------------ШАБЛОНЫ-----------------------
  %btnFlat {
   border: 2px solid #FF5B62;
  border-radius: 8px;
          height: 50px;
          width: 178px;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }


  %bthFull {
    height: 50px;
      background: #FF5B62;
      box-shadow: 0px 24px 53px -3px rgba(255, 0, 0, 0.31);
border-radius: 8px;

      font-family: Gotham Pro;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      
      box-sizing: border-box;
      display: inline-flex;

      text-align: center;
      align-items: center;
      // vertical-align:middle;
          justify-content: center;
cursor: pointer;
color: #ffffff;
  }

  // ---------------------ШАБЛОНЫ-----------------------

// displays
// $nBook: 992px;
$phone: 960px;




// ---------ШАПКА---------------
.header {
position: fixed;
background-color: white;
width: 100%;
z-index: 5;
font-family: "Gotham Pro";
border-bottom: 1px solid #d7e4ff;

  

		&__conteiner {
      // position: relative;
      display: flex;
      min-height: 83px;
      align-items: center;
      justify-content: space-between;
      
      
		}

&__burger {
  background-image: url(../../img/burger/burger_bg.svg);
  background-repeat: no-repeat;
  display: none;
  position: relative;
  width: 48px;
  height: 48px;
  // margin-right: 15px;
  &::before, &::after, span {
    content: '';
          transition: all 0.3s ease 0s;
    background-color: #FF5B62;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 9px;
  }
  span {
    top: 24px;
  }
  &::before {
    top: 16px;
  }
  &::after {
  bottom: 14px;
  }

  &.active {
    &::before {
      transform: rotate(45deg);
      top: 24px;
  }
    &::after {
      transform: rotate(-45deg);
      bottom: 22px;
  }
  span {
    transform: scale(0);
  }
  }
}

		&__logo {
font-weight: 700;
font-size: 36px;
line-height: 34px;
color: #FF5B62;
margin-right: 20px;
span {
  color: #3878FF;
}

		}

		&__menu {
      content: '';
    }
  }
  // --------Кнопка заявки слева от бургера------------
.request {
  content: '';
  position: absolute;
  right: 80px;
}

.btn {
  color: #3F3F3F;
  @extend %btnFlat;
  
}

  .menu {
    z-index: 10;
    transition: all 0.3s ease 0s;
    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  align-items: center;
  // margin-right: 15px;
  
    }
  
    &__item {
      margin: 15px 0;
      margin-right: 40px;
      &:last-child {
        margin: 0;
        // padding-right: 15px;
       @extend %btnFlat

      }
      &:hover:not(:last-child) {
color: #ff5b62;
  text-shadow: 0px 0px 1px #ff5b62;   
		}
    }
    
    
    &__link {
      
    font-weight: 400;
  font-size: 18px;
  line-height: 22px;
    color: #3F3F3F;
&:hover {
  color: inherit;
}

}
  }
// ---------ШАПКА---------------
  // ----------------MAIN---------------
  .main {
    margin-top: 90px;
    flex: 1 1 auto;
  }


.creating {

		&__conteiner {
      margin-bottom: 150px;
background-color: white;
// ---------------???????????------
// width: 100%;
// ---------------???????????------

display: flex;
align-items: center;
      justify-content: space-between;
      // box-sizing: content-box;

img {
  width: 70%;
  // padding-right: 20px;
  // display: block;
}
		}

		&__column {
      box-sizing: content-box;
width: 100%;
max-width: 450px;
display: flex;
flex-direction: column;
h1 {
margin-bottom: 30px;
}

p {
  margin-bottom: 40px;
font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
color: #3F3F3F;
}

}
}
    .request__btn{
      @extend %bthFull;
&:hover {
    box-shadow: 0px 24px 53px -3px rgba(102, 2, 2, 0.87);

}

    }      
// -------------КАРОТЧКИ------------------

.cardsLayer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;

  
}

.cardsField {
  width: 104%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // box-sizing: content-box;
  justify-content:center;
  // padding: 0 auto;
    background-image: url(../../img/BG/offer_dots.svg);
      background-repeat: no-repeat;
background-position: center;
  // background-position: 50% 52%;

// background-size: 830px;

}
.card {
  display: block;
  background: #FFFFFF;
  width: 305px;
min-height: 273px;
  margin: 0 12.5px 40px;
  box-shadow: 0px 10px 50px rgba(94, 24, 24, 0.1);
border-radius: 8px;
color: #3F3F3F;

  display: flex;
  flex-direction: column;
  align-items: center;
transition: 0.3s;



		&__pic {
      display:flex;
  align-items: center;
  justify-content: center;
      // text-align: center;
      width: 117px;
      height: 117px;
      // padding-top: 20px;
      // padding-bottom: 8px;
      margin-top: 20px;
      // filter: grayscale(100%);
      // background-image: url(/Develix_v2/img/Vector.png);
      background: url(../../img/Vector.svg);
      background-repeat: no-repeat;
      background-position: center;
      
    		}

		&__text {
      font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
text-align: center;

color: inherit;
margin: auto 25px;
		}
    &:hover {
      background: #FF5B62;
      color: #FFFFFF;
      .card__pic {
        // background-image: cross-fade(20%);
        // filter: saturate(100%) invert(100%);
        // filter: brightness(100%) invert(100%);
        filter: saturate(0%) brightness(200%);
        background-size: 0 0;
      }
    }
}

.card-minheight327 {
  min-height: 327px;
}

// -----------КАРОТЧКИ------------------
// ----------НАЧАЛО-ТАБЫ-------------

.offer {
    // width: 104%;
// height: 1547px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 146px;
  margin-top: 90px;
  background: url(../../img/blobs.svg);
        background-repeat: no-repeat;
background-position: center -92px;
      // background-size: 83% auto;
      background-size: auto 117%;
h2 {
  margin-top: 30px;
}
}

.functional {

		&__site {
      content: '';
      max-width: 947px;
display: flex;
  flex-direction: column;
align-items: center;
margin-bottom: 50px;
// align-content: center;
// justify-content: center;
		}

		&__tabField {
      width: 965px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    justify-content:space-between;
//         background-image: url(/Develix_v2/img/BG/offer_dots.png);
//       background-repeat: no-repeat;
// background-position: center;


		}
}
.tab {
  display: block;
  background: #FFFFFF;
  box-shadow: 0px 10px 50px rgba(94, 24, 24, 0.1);
border-radius: 8px;
  width: 430px;
min-height: 72px;
  // margin: 0 12.5px 20px;
    display: flex;
  flex-direction: row;
  align-items: center;
transition: 0.3s;

margin-bottom: 20px;

padding: 20px;
justify-content: space-between;

&__pic {
  // width: 100%;
      display:flex;
  align-items: center;
  justify-content: center;
      width: 70px;
      height: 70px;
      // margin: 21px;
      // margin-right: 20;
      background: url(../../img/Vector_tab.svg);
      background-repeat: no-repeat;
      background-position: center;
background-size: 100%;
}
&__text {
  // display: block;
  // align-content: flex-start;
  // justify-content: ;
  width: 340px;
      font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: inherit;
p {
  
  text-align: left;
}

}
&:hover {
      background: #FF5B62;
      color: #FFFFFF;
      .tab__pic {
        // background-image: cross-fade(20%);
        // filter: saturate(100%) invert(100%);
        // filter: brightness(100%) invert(100%);
        filter: saturate(0%) brightness(200%);
        background-size: 0 0;
      }
    }
}


// ----------КОНЕЦ-ТАБЫ----------

// ----------НАЧАЛО-УСЛОВИЯ-------------

.condition {
  
display: flex;
flex-direction: column;
// align-items: center;
max-width: 718px;
  justify-content:center;
margin: 0 auto -46px;
		// &__header {
		// }

		&__subHeader {
      font-family: Gotham Pro;
font-style: normal;
font-weight: normal;
      font-size: 28px;
line-height: 27px;
margin: 0 auto;
margin-bottom: 48px;

>p {
display: none;

}
		}
//     &__subHeader > p{
// display: none;
//     }

		&__deadlines {
      // width: inherit;
      // background-image: url(/Develix_v2/img/Stage/Rectangle.png);
      
      background: url(../../img/Stage/Rectangle.svg);
      background-repeat: no-repeat;
      background-position: 324px; 
      background-size: 6px 85%;
		}

		&__weekBlock {
      display: flex;
      margin-bottom: 20px;

      flex-direction: row;
      justify-content: space-between;
		}

		&__week {
      display: flex;
      width: 195px;
      // box-sizing: content-box;
      font-family: Gotham Pro;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 34px;

color: #3878FF;
margin-top: 18px;
margin-bottom: 20px;
		}

		&__blockItems {
      width: 470 px;

    }
    &__blockItems > .tab {
  background: none;
box-shadow: none;
border-radius: 0;
width: 470 px;
padding: 0;
margin: 0;
margin-bottom: 20px;
> .tab__pic {
        background: none;

}
&:hover {
      background: none;
      color: #3F3F3F;
.tab__pic {
  filter:none;

}
}
    }
}


// ----------КОНЕЦ-УСЛОВИЯ-------------

// ----------START-PRICE-------------

.price {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: -200px;
  &__BG {
        z-index: 1;

    max-height: 485px;
    width: 100%;
    display: flex;
        align-items: flex-end;
transform: translate(0, 56px);
        img {
          // display: block;
    width: 100%;
  // height: auto;
    // object-fit: contain;
      //   &:first-child {
      // margin-right: 50px;
    }
    .bgImg {
          // position: relative;
  
      // width: 100%;
      // height: auto;
  
      &:first-child {
        margin-right: 50px;
      //   // width: 70%;
      // }
    }
    &:last-child {
margin-bottom: -7%;
// background-position: center 50%;
    }
  
    }
  }

  &__priceCard {
    position: relative;
top: -275px;
z-index: 3;
margin: auto auto;
width: 709px;
height: 247px;
background: #FFFFFF;
box-shadow: 0px 10px 50px rgba(94, 24, 24, 0.1);
border-radius: 12px;
padding: 20px;

    h3 {
      content: none;
          margin-bottom: 0px;
    }
  
  }
  &__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .tab {
width: 421px;
height: 81px;
background: none;
box-shadow: none;
border-radius: 0;
padding: 0;
margin: 0;
margin-bottom: 13px;
> .tab__pic {
        background: none;

}
&:hover {
      background: none;
      color: #3F3F3F;
.tab__pic {
  filter:none;

}
}
    }
  }
}

.work {
  margin-bottom: 10px;
}

.info-form {
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 650px;
  background-image: url(../../img/BG/BGtel.svg);
  background-repeat: no-repeat;
  background-position: center 36%;
  margin-bottom: 50px;
		&__header {
      content: "";
		}
}
.formBox {
width: 434px;
		&__forma {
  //     display: flex;
  // flex-direction: column;
		}
    & input {
      width: 100%;
    }
}
.divInputName {
  margin-bottom: 30px;
}

.divInputMail {
  margin-bottom: 30px;
  
}

.inputName,
.inputMail {
  border: 2px solid #b1c9ff;
  background: #ffffff;
  height: 50px;
  border-radius: 8px;
  font-size: 18px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
    padding-left: 30px;
box-sizing: border-box
}

.infoButon {
  @extend %bthFull;
border: none;

&:hover {
    box-shadow: 0px 24px 53px -3px rgba(102, 2, 2, 0.87);

}
}


.contacts {
  display: flex;
flex-direction: column;
    align-items: center;
    margin-bottom: 250px;
& .tab {

}
}

.contacts-box {
  box-sizing: border-box;
    width: 415px;
      display: flex;
      flex-direction: column;
      // flex-wrap: wrap;
    // justify-content:center;
    align-items: center;

}
._contact-tab {
    box-sizing: border-box;

  width: 100%;
  & p {
    font-family: Gotham Pro;
// font-style: normal;
// font-weight: normal;
font-size: 18px;
line-height: 1.5;
color: #3F3F3F;
    margin-bottom: 10px;
  }
  & span {
font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 1.5;
color: #626262;
  }
  & .tab__pic {
    margin-right: 12px;
    & img {
      width: 70%;
    }
  }
}


// ----------------------------------------------
.footer {
min-height: 154px;
background: #404E6B;

&__conteiner {
max-width: 1300px;
margin: 0 auto;
padding: 0 15px;
}

&__box {
  margin-top: 50px;
max-width: 1300px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
}

		&__logo {
      font-family: Gotham Pro;
      font-weight: 700;
font-size: 36px;
line-height: 34px;
color: #FF5B62;
margin-right: 20px;
margin-bottom: 20px;
span {
  color: #3878FF;
}
		}

		&__marc {
  max-width: 168px;
      font-family: Gotham Pro;
font-size: 14px;
line-height: 1.2;
color: #899DC7;
margin: 0 auto;

}
&__menu2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
align-items: center;
}
}


.menu2 {
margin-bottom: 30px;
margin-top: 10px;
		&__list {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
		}

		&__item {
      // margin: 15px 0;
      margin-right: 40px;
      margin-bottom: 15px;
      &:last-child {
        margin-right: 0;
      }
            &:hover {
color: #ff5b62;
  text-shadow: 0px 0px 1px #ff5b62;   
		}
		}

		&__link {
      font-family: Gotham Pro;
font-size: 18px;
line-height: 1.2;
       font-weight: 400;
  font-size: 18px;
  line-height: 22px;
    color: #ffffff;
&:hover {
  color: inherit;
}
		}
}
.marcText {
}


// ----------END-PRICE-------------

 // -----------КОНЕЦ-MAIN--------


// ---------------START ADAPTIVE-----------------


@media (max-width: $phone) {


  body.lock {
    overflow: hidden;
  }
  .header__logo, .header__burger {
    z-index: 60;
  }
  
  .header__burger {
    content: '';
    display: block;
  }

  .header__logo {
    font-size: 32px;
  }

.menu {
  
  // display: none;
  position: fixed;
top: 83px;
left: 100%;
width: 100%;
height: 100%;
background-color: #3878FF;

&.active {
  left: 0;
}
}
.menu__list {
  padding-top: 20px;
  flex-direction: column;
  
  
  // align-items: center;
  justify-content: center;
  
}
.menu__item {
padding: 0;
margin: 0;
margin-bottom: 20px;
}
.menu__link {
  color: white;
  
}

.creating {
  
		&__conteiner {
      img {
  width: 335px;
  margin-top: 30px;
  margin-bottom: 55px;
}
}
&__column {
  h1 {
margin-bottom: 16px;
font-size: 32px;
line-height: 38px;
}

p {
  margin-bottom: 20px;
font-size: 16px;
line-height: 24px;
color: #3F3F3F;
}

}
}

.cardsField {
      background-image: url(../../img/BG/offer_dots_555px.png);

}

.card {
  margin-bottom: 16px;
}



.btn {
  color: #3F3F3F;
}
		.functional__tabField {
      flex-direction: column;
      align-items: center;
            width: 495px;

    }

    // -------НАЧАЛО-УСЛОВИЯ----

.condition {
min-width: 335px;
		

		&__subHeader {
      margin-bottom: 20px;

      >p {
display: block;
      }
      >pre {
        display: none;
      }
      font-size: 18px;
		}

		&__deadlines {
      margin-left: auto;
      margin-right: auto;
      width: 335px;
      background-position: 11% 30%;
            background-position: 10%; 
            background-size: 3% 85%;
box-sizing: border-box;
    }
    
		&__weekBlock {
      width: inherit;
      flex-direction: column;
align-items: center;

		}

		&__week {
      font-size: 28px;

		}


		&__blockItems {
      width: inherit;
		}
    &__blockItems > .tab {
      width: 335px px;
&__text {
  width: 225px;
		}
    }
}

.price {
  &__BG {
    flex-direction: column;
            align-items: center;


            .bgImg {
              &:first-child {
        margin-right: 0;
              }
            }
  }
  
}

// -------КОНЕЦ-УСЛОВИЯ------
// ----------START-PRICE-------------

.price {
  &__BG {
        display: flex;
        flex-direction: column;
        align-items: center;
         min-width: 500px;
         .bgImg:nth-child(2) {
                  
                    img {
                    margin-top: -190px;
                    width: 100%;
                   }

         
                   }
                  
  }
  &__priceCard {
    position: relative;
top: -370px;
z-index: 3;
margin: auto auto;
width: 335px;
height: 460px;
background: #FFFFFF;
box-shadow: 0px 10px 50px rgba(94, 24, 24, 0.1);
border-radius: 12px;
padding: 20px;

    ._fs24 {
      content: none;
      font-size: 24px;
    }
  h3 {
    margin: 0 auto 20px;
  }
  }
  &__items {
    display: flex;
    flex-direction: column;
        justify-content: space-between;

    align-items: center;
    .tab {

width: 295px;
height: 96px;
background: none;
box-shadow: none;
border-radius: 0;
padding: 0;
margin: 0;
margin-bottom: 13px;
> .tab__pic {
        background: none;

}
&:hover {
      background: none;
      color: #3F3F3F;
.tab__pic {
  filter:none;

}
}
&__text {
  width: 205px;
  // height: 96px;
  font-size: 16px;
  line-height: 24px;
}
    }
    img {
      width: 220px;
    }
    &__tabs {
      // display: block;
      content: "";
    }
  }
  
  
}


// ----------END-PRICE-------------



  h2 {
    margin-bottom: 30px;
    font-size: 24px;
line-height: 34px;


  }

h3 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 18px;
line-height: 27px;
}

.footer__box {
margin-top: 20px;
justify-content: center;
}


  }
  

  @media (max-width: 555px) {
  
  ._conteiner {
        padding: 0 20px;
      margin: 0;
  
  }
  
  .request {
  display: none;
  }
  
  .creating {
  
      &__conteiner {
        flex-direction: column;
      }
  }
  
  .request__btn{
        content: '';
  // width: 335px;
      } 
      
    .tab {
        width: 295px;

&__text {
  width: 205px;
  font-size: 14px;
  line-height: 21px;
}
    }

h3 {
  // width: 460px;
  content: "";
}

.formBox {
  width: 335px;

}

.contacts-box {
content: "";
}

.menu2 {
  margin-bottom: 20px;
  &__list {
     flex-direction: column;
    }
		&__item {
            margin-right: 0;

    }
}
.footer__box {
       flex-direction: column;
    display: flex;
    align-items: center;
}
  }

  


  // ---------------------ADAPTIVE----------------------------------
