@font-face {
  font-family: "Gotham Pro";
  src: url("/fonts/GothamPro-Bold/GothamPro-Bold.woff2") format("woff2"),
    url("/fonts/GothamPro-Bold/GothamPro-Bold.woff") format("woff"),
    url("/fonts/GothamPro-Bold/GothamPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("/fonts/GothamPro/GothamPro-Medium.woff") format("woff"),
    url("/fonts/GothamPro/GothamPro-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html, body {
    height: 100%;
    line-height: 1;
    font-size: 18px;
    color: #3F3F3F;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
}

._conteiner {
    max-width: 1296px;
    margin: 0 auto;
}
